// Custom styles.

// 首页 - 阅读全文按钮
.post-button .btn {
  border-radius: 16px;
  line-height: 2;
  margin: 0 4px 8px 4px;
  padding: 0 20px;
}

// 导航栏
.menu .menu-item:hover {
  color: #00AA90!important;
}

.menu .menu-item-active a {
  color: #00AA90!important;
}

// 整站透明
.header-inner {
  background: rgba(255,255,255,0)!important;
}

.content-wrap {
  background: rgba(255,255,255,0)!important;
}

.sidebar {
  background: rgba(255,255,255,0)!important;
}

.sidebar-inner {
  background: rgba(255,255,255,0)!important;
}

// 去掉顶部黑线
.headband {display:none;}